<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://labike.github.io" class="link" target="_blank">labike</a> |
            <a href="https://pdvchina.github.io" class="link" target="_blank">pdvchina</a> |
            <a href="http://www.os4team.cn" class="link" target="_blank">os4team</a> |
            <a href="https://cnodejs.org" class="link" target="_blank">cnode</a>
        </div>
        <p class="copyright">
            copyright  © 2017 MALL All Right reversed
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js" type="text/javascript"></script>
    
