<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="mall-fe电商网站,电商平台,购物网站,手机,笔记本,电脑,网上购物">
<meta name="description" content="一个提供各种商品的购物网站电商平台">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="dn-prefetch" href="//cdn.bootcss.com">
<link rel="dn-prefetch" href="//s.happymmall.com">
<link rel="dn-prefetch" href="//img.happymmall.com">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5f8b78e5a7e31e8a2fcd9b05f015c0c1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
