/*
 * @Author: labike 
 * @Date: 2017-07-22 14:23:54 
 * @Last Modified by: labike
 * @Last Modified time: 2017-07-24 21:58:51
 */

 .nav-simple{
     height: 60px;
     line-height: 60px;
     border-bottom: 1px solid #ddd;
     background: #fff;
 }
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}